
countdown.countdown {
	display: inline-block;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-size: 1em;
	border-radius: 1em;
}

countdown.countdown.countdown-normal {
	color: white;
	background-color: #4AB74A;
}

countdown.countdown.countdown-warn {
	color: white;
	background-color: #ECCB25;
}

countdown.countdown.countdown-danger {
	color: white;
	background-color: #E43A3A;
}
