countdown.countdown {
  border-radius: 1em;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  min-width: 2em;
  padding: .5em;
  text-align: center;

  &.countdown-normal {
    color: white;
    background-color: #4AB74A;
  }

  &.countdown-warn {
    color: white;
    background-color: #ECCB25;
  }

  &.countdown-danger {
    color: white;
    background-color: #E43A3A;
  }
}
